<!--estilos para slide-->
<% stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


<!-- ====================================
	Contenedor Slider
	=======================================-->

	<section id="slider" class="container">
		<ul class="slider-wrapper">
		<li class="current-slide">
			<%= image_tag('slide1.jpg') %>
			<div class="caption">
				<h2 class="slider-title">Binvenidos</h2>
				<p>Somos LimpiApp, una aplicación dedicada a enseñar y culturizar sobre la importancia del reciclaje.</p>
			</div>
		</li>

		<li>
			<%= image_tag('slide2.jpg') %>
			<div class="caption">
				<h2 class="slider-title">Eventos</h2>
				<p>Enterate de nuestras actividades, fechas especiales y eventos, visita <%= link_to ('Eventos'), eventos_path, :class => 'main-color' %></p>
			</div>
		</li>

		<li>
			<%= image_tag('slide3.jpg') %>
			<div class="caption">
				<h2 class="slider-title">Reporta</h2>
				<p>Sube imágenes de aquellos sitios que dan mal ejemplo de aseo y desorden en tu comunidad, visita >> <%= link_to 'Reportar' :class => 'main-color' %></p>
			</div>
		</li>
		</ul>
		<!-- Sombras -->
		<div class="slider-shadow"></div>

		<!-- Controles de Navegacion -->
		<ul id="control-buttons" class="control-buttons"></ul>
	</section>

	<!-- seccion imágenes menu inferior-->
  <section id="icons-index">
      <div class="item"></div>
      <div class="item item1">
        <div class="table-item">
          <div class="imgs-center">

            <%= link_to image_tag('cultura.png', :class => 'image-active'), cultura_index_path %>
            <h2 class="graycolor"><%= link_to 'Cultura', cultura_index_path %></h2>
            <span>Concientización en la importancia del reciclaje</span>
          </div>
          <div class="imgs-center ">
						<%=link_to image_tag('miruta.png'), rutas_path %>
            <h2 class="graycolor"><%= link_to 'Mi Ruta', rutas_path %></h2>
            <span>Seguimniento en tiempo real de la ruta de recolección en tu sector</span>
          </div>
          <div class="imgs-center">
            <%= link_to image_tag('reportar.png'), reportes_path %>
            <h2 class="graycolor"><%= link_to 'Reportar', reportes_path %></h2>
            <span>Atención a casos especiales de desechos y residuos</span>
          </div>
          <div class="imgs-center">
            <%= link_to image_tag('beneficios.png'), beneficios_path %>
            <h2 class="graycolor"><%= link_to 'Beneficios', beneficios_path %></h2>
            <span>Puedes depositar tus residuos y redimir por premios</span>
          </div>
					<div class="imgs-center">
            <%= link_to image_tag('ecoaliados.png'), ecoaliados_path %>
            <h2 class="graycolor"><%= link_to 'Ecoaliados', ecoaliados_path %></h2>
            <span>¡Unete a nuestra iniciativa!</span>
          </div>
        </div>
      </div>
      <div class="item"></div>
  </section>
	<hr style="width:80%; border: 0.1px #bbb solid;">
	<div class="contenedor">
	  <div class="center">
	   <h2 class="main-color" style="margin-left: 10%;">Disponible en:</h2>
			</div>

	</div>
			<div class="table-item-big">
				  <div class="googleplay">

					</div>
				  <div class="applestore">

					</div>

		</div>
