<div class="contenedor">
  <div class="center">
      <h1 class="main-color"><i class="fa fa-recycle"></i> Beneficios</h1>
      <hr>
      <p></p>
      <p>Hemos creado un plan de beneficios, actividades e incentivos incluidos en las diferentes dinámicas que tenemos previstas para concientizar
        a la comunidad y generar cultura sobre la importancia de reciclar.<br />
       </p>
       <br />
       <p>&nbsp;</p>
       <h3 class="main-color">Jornadas de 'Venta de Garaje'</h3>
       <hr>
       <p>&nbsp;</p>
         <%= image_tag ('venta_de_garage.jpg'), :class => 'image_full_width' %>
       <p>&nbsp;</p>
       <p>Existen artículos que nuestros recicladores rescatan de la basura,
         estos se encuentran en buen estado, y por medio de una restauración y limpieza,
         son puestos a disposición de la comunidad por medio de las denominadas Ventas de Garaje.
       </p>
       <p>&nbsp;</p>
       <h3 class="main-color">Voluntariados de recolección</h3>
       <hr>
       <p>&nbsp;</p>
         <%= image_tag ('jornadas_reciclaje.jpg'), :class => 'image_full_width' %>
       <p>&nbsp;</p>
       <p>Programamos jornadas de recolección, separación y distribución de residuos
       en aquellos lugares en donde es difícil reciclar, o en donde la empresas de aseo tardan en realizar la recolección</p>
       <p>&nbsp;</p>
       <p>La invitación a contribuir está totalmente abierta!</p>

         <%= link_to 'Inicia Sesión', new_user_session_path, :class => 'main-color' %> ó
         <%= link_to 'Registrate', new_user_registration_path, :class => 'main-color' %>
       <p></p>
       Para contribuir

     <p>&nbsp;</p>
       <h3 class="main-color">Jornadas pedagógicas</h3>
       <hr>
       <p>&nbsp;</p>
         <%= image_tag ('jornadas_pedagogicas.jpg'), :class => 'image_full_width' %>
       <p>&nbsp;</p>
       <p>Disponemos crear campañas de concientización en colegios, universidades,
         institutos, microempresas, empresas e industrias.</p>
         <p>&nbsp;</p>
      <h3 class="main-color">Canjea Reciclaje por pasajes</h3>
      <hr>
      <p>&nbsp;</p>
        <%= image_tag ('canjea.jpg'), :class => 'image_full_width' %>
      <p>&nbsp;</p>
      <p>Contamos con puntos ecoamigables, dispuestos en diferentes sectores de la localidad,
      en donde los ciudadanos podrán asistir o solicitar una recolección a domicilio
      y así poder cambiar el equivalente del peso de su reciclaje por puntos en su cuenta, estos
      puntos posteriormente podrán ser cambiados por multiples beneficios según disponibilidad,
      (inicialmente ofrecemos canje por pasajes de Transmilenio o SITP)</p>

      <br />
      <div class="center">
        <div class="button-green">
          <h4 class="white">
        <%= link_to 'Enterate como', calcula_index_path %>
        </h4>
        </div>
      </div>
    </div>
  </div>
